/************************ Start global roles ************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Almarai", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.contanier {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*small*/
@media (min-width: 768px) {
  .contanier {
    width: 100%;
  }
}

/* medium
@media (min-width: 992px) {
	.contanier {
		width: 970px;
	}
} */

/*large*/
@media (min-width: 1200px) {
  .contanier {
    width: 1124px;
  }
}

/************************ End global roles ************************/

/************************ Start header  ************************/

.header {
  background-color: #00bd9d;
  padding: 15px 0;
  margin-bottom: 25px;
}

.header p {
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

/************************ End header  ************************/

/************************ Start carousel  ************************/

.carousel-indicators li {
  background-color: black;
  border: solid 1px black;
}

/************************ End carousel  ************************/

/************************ Start single product page  ************************/

.single-page-wrraper .contanier .content {
  width: 50%;
  text-align: right;
  padding-right: 30px;
}

.single-page-wrraper .contanier .to_flex2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.single-page-wrraper .contanier .slider {
  width: 50%;
}

.single-page-wrraper .contanier .content h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.single-page-wrraper .contanier .content .price {
  font-size: 1.5em;
}

.single-page-wrraper .contanier .content .price span {
  text-decoration: line-through;
  margin: 0 15px;
}

.single-page-wrraper .contanier .content .mid {
  text-align: center;
}

.single-page-wrraper .contanier .content h2 {
  font-weight: 400;
}

.single-page-wrraper .contanier .content .advantages li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.25em;
  font-weight: 700;
}

.single-page-wrraper .contanier .content .advantages li::before {
  content: "\2611";
  font-size: 30px;
  margin-left: 5px;
}

.single-page-wrraper .contanier .content .shipping li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: 700;
}

.right span {
  color: red;
  margin: 0 3px;
}

.single-page-wrraper .contanier .content .shipping .right::before {
  content: "\2713";
  font-size: 30px;
  margin-left: 5px;
}

.single-page-wrraper .contanier .content .shipping .circle::before {
  content: "\274D";
  font-size: 30px;
  margin-left: 5px;
}

.single-page-wrraper .contanier .content .btn {
  width: 100%;
}

@media (max-width: 768px) {
  .to_flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .single-page-wrraper .contanier .content {
    width: 100%;
    text-align: right;
    padding-right: 0;
  }
  .single-page-wrraper .contanier .slider {
    width: 100%;
  }
  .navbar .contanier img {
    margin-left: 0px;
  }
}

/************************ End single product page  ************************/

/************************ Start short description  ************************/

.shortdescription {
  margin-top: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.row img {
  max-width: 40%;
}

.row .img-content {
  display: flex;
  text-align: right;
  padding: 5px 40px;
  font-size: 24px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.row .img-content h1 {
  font-weight: 400;
  margin: 0 0 10px 0;
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .row .img-content {
    text-align: right;
    padding: 5px 15px;
    font-size: 24px;
  }
  .row img {
    max-width: 100%;
    padding: 0 3px;
  }
}

/************************ End short description  ************************/

/************************ Start checkout form  ************************/

#checkout_form {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}

#checkout_form .name {
  font-size: 1.5em;
}

.form-control {
  width: 50%;
}

.input-group .btn-success {
  font-size: 20px;
  padding: 10px 40px;
  margin: 15px 0;
}

@media (max-width: 768px) {
  .form-control {
    width: 85vw;
  }
}

/************************ End checkout form  ************************/

/************************ Start thank u page  ************************/

.body_tu {
  height: 100vh;
  background-color: #fff6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanku {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thanku .thankicon {
  width: 90px;
  height: 67.5px;
}

.thanku h3 {
  text-align: center;
  padding: 0 20px;
}

.thanku button {
  margin-top: 30px;
  padding: 15px 20px;
  background-color: #419641;
  color: white;
  border-radius: 15px;
  border: none;
  font-weight: 400;
}

.thanku button:hover {
  font-weight: 400;
  background-color: #fff6f6;
  color: #419641;
  border: solid 2px #419641;
}

/************************ End thank u page  ************************/
